{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>
    <div class="registration-container">
        <h2>Sign Up</h2>
        <form method="POST" class="registration-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register" class="submit-button">
        </form>
        <p>Already have an account? <a href="{% url 'session_login' %}" class="login-link">Login</a></p>
    </div>
</body>
</html>
